.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pastel-Green, #faffea);
  width: 100%;
  /* height: 100vh; */
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100vh;
}

.buttonContainer {
  display: flex;
  justify-content: right;
}

.wrapper {
  width: 856px;
  overflow-x: auto;
  /* background-color: red; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  width: 856px;
}

.svg {
  /* overflow-x: scroll; */
  overflow: visible;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
}

.description {
  color: #000;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.title {
  color: #000;
  font-family: "Rammetto One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: 0.8px;
}

.buttonInitial {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Functional-Disabled, #d8d8d8);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
  border-width: 0px;
}

.buttonFinal {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Secondary-Accent1, #1c3a29);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
  border-width: 0px;
  cursor: pointer;
}

.buttonText {
  color: var(--Neutral-White, #fff);
  text-align: center;

  /* Body/Medium (Reg) */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
