.title {
  font-size: 32px;
  color: black;
  font-family: "Rammetto One";
  display: flex;
  flex-direction: column;
}

.container {
  justify-items: center;
  gap: 1rem;
}

.description {
  text-align: center;
  font-size: 22px;
  color: black;
  font-family: "DM Sans";
  font-weight: 400;
}
